:root {
  --main-color: aquamarine;
  --square-width: 50px;
  --square-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  margin-top: 1em;
}

.container1 {
  height: 300px;
  width: 300px;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
}

.container2 {
  height: 300px;
  width: 300px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}

.c {
  background-color: var(--main-color);
  width: var(--square-width);
  height: var(--square-height);
  margin: 10px;
}
